

<% @fumans.each do |fuman| %>
  <div class="col-md-4 col-sm-12">
    <div class="fuman shadow1">
      <div class="content">
        <%= fuman.content %>
      </div>
      <div class="name">
        <%= fuman.name %>
      </div>
    </div>
  </div>
<% end %>
