// Place all the styles related to the fumans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: rgba(243,243,243,1) !important;
}
#form {
}
.shadow1 {
border:1px solid #c6e2ff;
box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 4px 2px;
-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 4px 2px;
-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 4px 2px;

}
#text {
  border:#c6e2ff 1px solid;
  height:100px;
  color:#0278AE;
  padding: 10px;
  width:100%;
  background-color: #fff;
}
#name {
  border:#c6e2ff 1px solid;
  height:30px;
  color:#c6e2ff;
  padding: 10px;
  width:100%;
  font-size: 10px;
  background-color: #fff;
}
#to_whom {
  border:#c6e2ff 1px solid;
  height:30px;
  color:#c6e2ff;
  padding: 10px;
  width:100%;
  font-size: 10px;
  background-color: #fff;
}
.fuman {
  padding: 10px;
  border:1px solid #c6e2ff;
  margin:10px 0;
  background-color: #fff;
}
.input {
  margin:20px;
  padding:10px;
}
.title {
  font-size: 4em;
  color: #ff;
  text-align: center;
  margin-top: 20px;
}
.content {
  color:#0278AE;
}
.name {
  color:#555;
  font-size: 10px;
}
.to_whom{
  color:#555;
  font-size: 12px;
  margin-bottom: 10px;
}

input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.jumbotron {
  background:url('/photos/top_photo.JPG') ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  background-attachment: fixed;
  position : relative;
  z-index: 1;
  margin-bottom: 0px;
  min-height: 100vh;
}
.row{
  z-index: 2;
}
.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 50px;
}
.cover-text h1{
  font-size: 6rem;

}
.my-white{
  color:#fff;
}
.my-gray{
  color:#808080;
}
